<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe searcher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="hero">
        <div class="hero-body has-text-centered">
            <h1 class="title">Recipe sercher</h1>
            <h2 class="subtitle">Made by @rexwithluv</h2>
        </div>
    </div>

    <div class="box mx-6 p-6 has-background-success is-rounded">
        <div class="container has-text-centered">
            <form action="" method="post">
                <div class="field">
                    <label for="ingredients" class="label title is-5">Ingredients (comma separated):</label>
                    <div class="control">
                        <input type="text" class="input" name="ingredients"
                            placeholder="Chile pepper, olive oil, salt...">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="section has-background-success has-text-centered">

        {% if recipes %}
        <h2 class="title is-2">Search results</h2>



        {% for recipe in recipes %}
        <div class="fixed-grid has-2-cols">
            <div class="grid">

                <div class="cell is-flex is-justify-content-center is-align-items-center">
                    <p>{{ ("<strong>" + recipe["name"].capitalize() + "</strong>") | safe }} &nbsp; </p>
                    <img src="static/images/{{ recipe['name'].replace(' ', '-') }}.png" width="32px"
                        alt="{{ recipe['name'].capitalize() }}" title="{{ recipe['name'].capitalize() }}">
                </div>


                <div class="cell ">
                    <div class="fixed-grid has-3-cols">
                        <div class="grid ingredients-grid">

                            {% for ingredient in recipe["ingredients"] %}
                            <div class="cell ingredient-cell">
                                <p>{{ ingredient.capitalize() }} </p>
                                <img src="static/images/{{ ingredient.replace(' ', '-') }}.png" width="32px"
                                    alt="{{ ingredient.capitalize() }}" title="{{ ingredient.capitalize() }}">
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}



        {% else %}
        <h2 class="title is-2">Try searching something!</h2>

        {% endif %}
    </div>

</body>

</html>