<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe searcher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>

<body>
    <div class="hero">
        <div class="hero-body has-text-centered">
            <h1 class="title">Recipe sercher</h1>
            <h2 class="subtitle">Made by @rexwithluv</h2>
        </div>
    </div>

    <div class="box mx-6 p-6 has-background-success is-rounded">
        <div class="container has-text-centered">
            <form action="" method="post">
                <div class="field">
                    <label for="ingredients" class="label title is-5">Ingredients (comma separated):</label>
                    <div class="control">
                        <input type="text" class="input" name="ingredients"
                            placeholder="Chile pepper, olive oil, salt...">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="section has-text-centered has-background-success">
        {% if results %}
        <h2 class="title is-2">Search results</h2>
        <ul>
            {% for recipe in results %}
            <li>
                {{ ("<strong>" + recipe["name"].capitalize() + "</strong>") | safe }} - Ingredientes:
                {% set all_ingredients = [] %}

                {% for ingredient in recipe["ingredients"] %}
                {% if ingredient in user_ingredients %}
                {% set _ = all_ingredients.append("<b>" + ingredient + "</b>") %}
                {% else %}
                {% set _ = all_ingredients.append(ingredient) %}
                {% endif %}
                {% endfor %}
                {{ ", ".join(all_ingredients) | safe }}
            </li>
            {% endfor %}
        </ul>

        {% else %}
        <h2 class="title is-2">Try searching for something!</h2>

        {% endif %}

    </div>

</body>

</html>